<div>
  <h3 class="text-xl font-semibold mb-2 text-accent">Educación</h3>
  <ul class="list-disc list-inside space-y-1 text-textSecondary">
    <li>
      Ingeniería en Sistemas - Universidad Nacional Autónoma de Honduras (2018 - 2026)
    </li>
  </ul>
</div>