<div class="flex flex-col md:flex-row md:space-x-6">
  <div class="md:flex-1">
    <h3 class="text-xl font-semibold mb-4 text-accent">Intereses</h3>
    <ul class="list-disc list-inside text-textSecondary space-y-2">
      <li>Desarrollo web</li>
      <li>Aplicaciones móviles</li>
      <li>Machine Learning</li>
      <li>Diseño y administración de bases de datos</li>
      <li>Ingeniería de datos</li>
    </ul>
  </div>
  <div class="hidden md:block w-px bg-accent opacity-40"></div>
  <div class="md:flex-1">
    <h3 class="text-xl font-semibold mb-4 text-accent">Habilidades Blandas</h3>
    <ul class="list-disc list-inside text-textSecondary space-y-2">
      <li>Comunicación efectiva</li>
      <li>Trabajo en equipo</li>
      <li>Escucha activa</li>
      <li>Resolución de problemas</li>
      <li>Empatía profesional</li>
      <li>Capacidad para recibir y dar retroalimentación</li>
      <li>Autonomía e iniciativa</li>
      <li>Responsabilidad y ética laboral</li>
      <li>Liderazgo proactivo</li>
    </ul>
  </div>
</div>