---
import ProyectoCard from './../Card.astro';
---

<section id="proyectos" class="w-full max-w-6xl px-6 bg-secondary/50 backdrop-blur-md p-6 rounded-lg shadow-lg text-textPrimary space-y-6">
  <h2 class="text-2xl font-bold mb-4 border-b border-accent pb-2">Proyectos</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <ProyectoCard title="Sitio Web VOAE" desc="Rediseño del sitio web de la Vicerrectoría de Orientación y Asuntos Estudiantiles UNAH" img="/assets/imgs/VOAE.webp" link="https://voae.unah.edu.hn/inicio/" />
    <ProyectoCard title="Sistema Registro UNAH" desc="Propuesta de plataforma digital para el registro académico de la UNAH como proyecto estudiantil" img="/assets/imgs/RegistroUNAH.webp" link="https://github.com/MoralesGuillermo/Sistema_Registro_UNAH" />
    <ProyectoCard title="CodeCabinet" desc="Plataforma web para gestión y codificación colaborativa en línea." img="/assets/imgs/CodeCabinet.webp" link="https://github.com/DaroGard/CodeCabinet" />
    <ProyectoCard title="PhPascal" desc="Implementación de un mini lenguaje con análisis sintáctico basado en Lark, interfaz CLI y web, con pruebas automatizadas." img="/assets/imgs/phPascal.webp" link="https://github.com/GerardoSalinas/Proyecto-Compiladores" />
    <ProyectoCard title="Infraestructura para Plataforma de E-commerce y Analítica" desc="Diseño e implementación de una infraestructura en la nube para una plataforma de comercio electrónico." img="/assets/imgs/enDesarrollo.webp" link="#" />
    <ProyectoCard title="Temis" desc="ERP SaaS para firmas de abogados, con gestión de casos, audiencias, documentos, tareas y búsqueda legal con IA." img="/assets/imgs/enDesarrollo.webp" link="#" />
    <ProyectoCard title="Wordle" desc="Versión básica del juego Wordle." img="/assets/imgs/Wordle.webp" link="https://github.com/DaroGard/primer-proyecto-java" />
  </div>
</section>