---
import ProyectoCard from "./../Card.astro";
---

<section
  id="proyectos"
  class="w-full max-w-6xl px-6 bg-secondary/50 backdrop-blur-md p-6 rounded-lg shadow-lg text-textPrimary space-y-6"
>
  <h2 class="text-2xl font-bold mb-4 border-b border-accent pb-2">Proyectos</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <ProyectoCard
      title="Temis"
      desc="ERP SaaS para firmas de abogados, con gestión de casos, audiencias, documentos, tareas y búsqueda legal con IA."
      img="/assets/imgs/Temis.webp"
      link="#"
    />
    <div id="pokequeueTrigger" class="cursor-pointer">
      <ProyectoCard
        title="PokeQueue"
        desc="Proyecto web que genera reportes CSV de datos de Pokémon usando PokeAPI, con backend en FastAPI, frontend en Next.js y procesamiento asíncrono en Azure Functions. Incluye almacenamiento en Azure Blob, base de datos SQL y despliegue completo en Azure."
        img="/assets/imgs/POKEQUEUE.webp"
      />
    </div>
    <div id="moviesapiTrigger" class="cursor-pointer">
      <ProyectoCard
        title="Pipeline de Datos y API con Caché Inteligente"
        desc="Solución backend para ingestión masiva de datos en Azure, API segura con FastAPI y Firebase, caching dinámico con Redis, monitoreo con Application Insights y despliegue en contenedores Docker sobre Azure."
        img="/assets/imgs/moviesapi.webp"
      />
    </div>
    <div id="ecommerceTrigger" class="cursor-pointer">
      <ProyectoCard
        title="Infraestructura para Plataforma de E-commerce y Analítica"
        desc="Diseño e implementación de una infraestructura en la nube para una plataforma de comercio electrónico."
        img="/assets/imgs/ecommerce-architecture.webp"
      />
    </div>
    <ProyectoCard
      title="Sitio Web VOAE"
      desc="Rediseño del sitio web de la Vicerrectoría de Orientación y Asuntos Estudiantiles UNAH"
      img="/assets/imgs/VOAE.webp"
      link="https://voae.unah.edu.hn/inicio/"
    />
    <ProyectoCard
      title="Sistema Registro UNAH"
      desc="Propuesta de plataforma digital para el registro académico de la UNAH como proyecto estudiantil"
      img="/assets/imgs/RegistroUNAH.webp"
      link="https://github.com/MoralesGuillermo/Sistema_Registro_UNAH"
    />
    <ProyectoCard
      title="PhPascal"
      desc="Implementación de un mini lenguaje con análisis sintáctico basado en Lark, interfaz CLI y web, con pruebas automatizadas."
      img="/assets/imgs/phPascal.webp"
      link="https://github.com/GerardoSalinas/Proyecto-Compiladores"
    />
    <ProyectoCard
      title="CodeCabinet"
      desc="Plataforma web para gestión y codificación colaborativa en línea."
      img="/assets/imgs/CodeCabinet.webp"
      link="https://github.com/DaroGard/CodeCabinet"
    />
    <ProyectoCard
      title="Wordle"
      desc="Versión básica del juego Wordle."
      img="/assets/imgs/Wordle.webp"
      link="https://github.com/DaroGard/primer-proyecto-java"
    />
  </div>
</section>

<!-- Modal -->
<div
  id="ecommerceModal"
  class="fixed inset-0 flex items-center justify-center z-50 bg-black/60 backdrop-blur-sm transition-opacity duration-300 hidden"
>
  <div
    class="relative w-full max-w-2xl bg-secondary/50 backdrop-blur-md text-textPrimary p-6 rounded-2xl shadow-2xl border border-accent space-y-6 mx-4 sm:mx-0"
  >
    <button
      id="closeModal"
      aria-label="Cerrar modal"
      class="absolute top-3 right-3 text-xl text-accent hover:text-red-500 font-bold focus:outline-none"
      >&times;</button
    >
    <a
      href="https://drive.google.com/file/d/1xz6bgtVmvRx2ZHQc4uHk-_j3QGtZ91sW/view"
    >
      <img
        src="/assets/imgs/ecommerce-architecture.webp"
        alt="Infraestructura E-commerce"
        class="rounded-lg w-full max-h-96 object-contain shadow-inner border border-textPrimary/20"
      />
    </a>
    <p class="text-base leading-relaxed">
      Diseño e implementación de una infraestructura modular en Azure para una
      plataforma de e-commerce con capacidades analíticas, que incluya un portal
      principal, backoffice, procesamiento asíncrono y un Data Warehouse, todo
      gestionado con Terraform en tres repositorios independientes.
    </p>
    <div class="flex flex-wrap gap-3 justify-start pt-2">
      <a
        href="https://github.com/DaroGard/ecommerce-expertos-client-side-repo"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
      >
        Repositorio Client Async
      </a>
      <a
        href="https://github.com/DaroGard/ecommerce-infra-nginx-erp-db"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
      >
        Repositorio BackOffice
      </a>
      <a
        href="https://github.com/DaroGard/ecommerce-experts-etl-repo"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
      >
        Repositorio Analytics
      </a>
    </div>
  </div>
</div>

<div
  id="moviesapiModal"
  class="fixed inset-0 flex items-center justify-center z-50 bg-black/60 backdrop-blur-sm transition-opacity duration-300 hidden"
>
  <div
    class="relative w-full max-w-2xl bg-secondary/50 backdrop-blur-md text-textPrimary p-6 rounded-2xl shadow-2xl border border-accent space-y-6 mx-4 sm:mx-0"
  >
    <button
      id="closeModal"
      aria-label="Cerrar modal"
      class="absolute top-3 right-3 text-xl text-accent hover:text-red-500 font-bold focus:outline-none"
      >&times;</button
    >
    <a
      href="https://drive.google.com/file/d/1xz6bgtVmvRx2ZHQc4uHk-_j3QGtZ91sW/view"
    >
      <img
        src="/assets/imgs/moviesapi.webp"
        alt="Infraestructura E-commerce"
        class="rounded-lg w-full max-h-96 object-contain shadow-inner border border-textPrimary/20"
      />
    </a>
    <p class="text-base leading-relaxed">
      Desarrollo de una solución backend integral que permita la migración
      masiva de datos, su exposición mediante una API segura y eficiente, y su
      despliegue en un entorno cloud productivo. Incluye la implementación de
      monitoreo continuo para el rendimiento y una estrategia avanzada de caché
      con invalidación automática para optimizar la experiencia del usuario y la
      eficiencia del sistema.
    </p>
    <div class="flex flex-wrap gap-3 justify-start pt-2">
      <a
        href="https://api-pr2-env.azurewebsites.net/docs"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
      >
        Movies API
      </a>
      <a
        href="https://github.com/DaroGard/movies.api.git"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
      >
        Repositorio
      </a>
    </div>
  </div>
</div>

<div
  id="pokequeueModal"
  class="fixed inset-0 flex items-center justify-center z-50 bg-black/60 backdrop-blur-sm transition-opacity duration-300 hidden"
>
  <div
    class="relative w-full max-w-2xl bg-secondary/50 backdrop-blur-md text-textPrimary p-6 rounded-2xl shadow-2xl border border-accent space-y-6 mx-4 sm:mx-0 max-h-[90vh] overflow-y-auto"
  >
    <button
      id="closeModal"
      aria-label="Cerrar modal"
      class="absolute top-3 right-3 text-xl text-accent hover:text-red-500 font-bold focus:outline-none"
      >&times;</button
    >
    <h2 class="text-2xl font-semibold mb-4 text-center">
      Evolución del Generador de Reportes V1
    </h2>
    <img
      src="/assets/imgs/POKEQUEUE.webp"
      alt="POKEQUEUE"
      class="rounded-lg w-full max-h-96 object-contain shadow-inner border border-textPrimary/20"
    />
    <p class="text-base leading-relaxed">
      Este proyecto consiste en una solución backend integral para generar
      reportes CSV basados en datos de la PokeAPI. Permite la migración de
      datos, su exposición segura mediante una API, y despliegue completo en
      Azure haciendo usos de colas para optimizar el rendimiento y experiencia
      de usuario.
    </p>

    <h3 class="text-xl font-semibold mt-6">Arquitectura y Tecnologías</h3>
    <div class="text-base leading-relaxed space-y-4">
      <p>
        La solución está basada en una arquitectura moderna de aplicación web de
        página única (SPA), compuesta por dos aplicaciones independientes: una
        interfaz de usuario (frontend) desarrollada con Next.js (React) y una
        API backend en Python con FastAPI. Ambas aplicaciones están desplegadas
        en Azure App Service.
      </p>
      <p>
        La gestión de datos se realiza a través de un servidor Azure SQL,
        mientras que los archivos CSV generados se almacenan en Azure Blob
        Storage. La comunicación asíncrona se maneja mediante Azure Queue
        Storage, que alimenta una Azure Function (Function App) responsable del
        procesamiento en segundo plano (worker).
      </p>
      <p>
        Para el despliegue, se utilizan contenedores Docker gestionados a través
        de Azure Container Registry. Toda la infraestructura fue administrada
        con Terraform
      </p>
    </div>
    <h3 class="text-xl font-semibold mt-6">Funcionalidades Implementadas</h3>
    <ul class="list-disc list-inside space-y-2 text-base leading-relaxed">
      <li>
        <strong>Eliminación Completa de Reportes:</strong> Permite eliminar registros
        de reportes y sus archivos CSV asociados de Azure Blob Storage desde el frontend
        con confirmación y actualización dinámica.
      </li>
      <li>
        <strong>Enriquecimiento del Reporte:</strong> Se agregó información detallada
        de cada Pokémon, incluyendo estadísticas base (HP, Ataque, Defensa, Ataque
        Especial, Defensa Especial, Velocidad) y habilidades, obtenidas mediante
        enriquecimiento en los detalles de la llamada a la PokeAPI.
      </li>
      <li>
        <strong>Muestreo Aleatorio:</strong> Se habilita que el usuario especifique
        un número máximo de registros aleatorios para incluir en el reporte.
      </li>
    </ul>
    <h3 class="text-xl font-semibold mt-6">Desafíos y Soluciones</h3>
    <div class="text-base leading-relaxed space-y-4">
      <div>
        <p>Durante el desarrollo surgieron algunos retos principales:</p>
        <ul class="list-disc list-inside ml-5 mt-2 space-y-1">
          <li>
            Mantener la consistencia entre la base de datos y el Blob Storage al
            eliminar reportes.
          </li>
          <li>
            Evitar que errores en las llamadas a la PokeAPI interrumpieran el
            proceso.
          </li>
          <li>
            Asegurar que las variables de entorno y configuraciones coincidieran
            en todos los repositorios.
          </li>
          <li>
            Resolver un problema en Azure Function que tomaba mensajes de la
            Queue pero no ejecutaba la generación de reportes ni actualizaba
            estados.
          </li>
        </ul>
      </div>
      <div>
        <p><strong>Solución:</strong></p>
        <p>
          Se resolvieron con validaciones, manejo de errores y confirmaciones en
          operaciones importantes. Además, se revisó que las variables de
          entorno estuvieran correctas y unificadas en cada servicio. En el caso
          de Azure Function, se verificó que la versión de Python local
          coincidiera con la configurada en Azure, lo que permitió que el
          proceso funcionara correctamente.
        </p>
      </div>
    </div>
    <h3 class="text-xl font-semibold mt-6">Repositorios de Código Fuente</h3>
    <div class="flex flex-wrap gap-3 justify-start pt-2">
      <a
        href="https://github.com/DaroGard/poke.queue.ui.git"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKEQUEUE UI</a
      >
      <a
        href="https://github.com/DaroGard/poke.queue.api.git"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKEQUEUE API</a
      >
      <a
        href="https://github.com/DaroGard/poke.queue.function.git"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKEQUEUE Functions</a
      >
      <a
        href="https://github.com/DaroGard/poke.queue.sql.git"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKEQUEUE SQL</a
      >
      <a
        href="https://github.com/DaroGard/poke.terraform.git"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKEQUEUE UI Terraform</a
      >
    </div>

    <h3 class="text-xl font-semibold mt-6">URLs de Aplicación Desplegada</h3>
    <div class="flex flex-wrap gap-3 justify-start pt-2">
      <a
        href="https://ui-pr3pokequeue-env.azurewebsites.net"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKE UI</a
      >
      <a
        href="https://api-pr3pokequeue-env.azurewebsites.net"
        target="_blank"
        class="bg-accent hover:bg-accent/80 text-white px-4 py-2 rounded-xl text-sm font-medium shadow-md transition"
        >POKE API</a
      >
    </div>
  </div>
</div>
