---
import HabilidadIcon from "./SkillsIcons.astro";
---

<div>
  <h3 class="text-xl font-semibold mb-4 text-accent">Habilidades Técnicas</h3>
  <div
    class="grid grid-cols-4 sm:grid-cols-6 lg:grid-cols-8 gap-6 justify-items-center"
  >
    <HabilidadIcon
      src="/assets/icons/html5.svg"
      alt="HTML5"
      nivel="Con experiencia"
      color="green"
    />
    <HabilidadIcon
      src="/assets/icons/css3.svg"
      alt="CSS3"
      nivel="Con experiencia"
      color="green"
    />
    <HabilidadIcon
      src="/assets/icons/javascript.svg"
      alt="JavaScript"
      nivel="Con experiencia"
      color="green"
    />
    <HabilidadIcon
      src="/assets/icons/mysql.svg"
      alt="MySQL"
      nivel="Con experiencia"
      color="green"
    />
    <HabilidadIcon
      src="/assets/icons/php.svg"
      alt="PHP"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/laravel.svg"
      alt="Laravel"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/spring-boot.svg"
      alt="Spring Boot"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/anaconda.svg"
      alt="Anaconda"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/java.svg"
      alt="Java"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/python.svg"
      alt="Python"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/mongo.svg"
      alt="MongoDB"
      nivel="Competente"
      color="blue"
    />
    <HabilidadIcon
      src="/assets/icons/astro.svg"
      alt="Astro"
      nivel="En formación"
      color="yellow"
    />
    <HabilidadIcon
      src="/assets/icons/terraform.svg"
      alt="Terraform"
      nivel="En formación"
      color="yellow"
    />
    <HabilidadIcon
      src="/assets/icons/react.svg"
      alt="React"
      nivel="En formación"
      color="yellow"
    />
  </div>
  <br />
</div>
