<!-- Acerca de mí -->
<section id="acerca" class="flex flex-col md:flex-row items-center justify-center gap-10 w-full max-w-6xl px-6 opacity-0" data-animate>
    <!-- Descripción -->
    <div
        class="bg-white bg-opacity-10 backdrop-blur-md rounded-xl shadow-lg p-8 text-textPrimary max-w-xl w-full space-y-6 transform transition-transform duration-500 hover:scale-[1.02]">
        <h1 class="text-4xl md:text-5xl font-extrabold mb-4 tracking-wide">
            Acerca de mí
        </h1>
        <p class="text-lg leading-relaxed">
            ¿Necesitas un sitio web, una base de datos bien estructurada o
            automatizar procesos con inteligencia artificial?
        </p>
        <p class="text-lg leading-relaxed">
            Mi nombre es David Garcia, soy Ingeniero en Sistemas entusiasta, con
            experiencia práctica adquirida en proyectos académicos de desarrollo
            web, bases de datos SQL y NoSQL, y Machine Learning.
        </p>
        <p class="text-lg leading-relaxed">
            Diseño sitios web modernos, configuro y optimizo bases de datos,
            estructuro data warehouses y aplico soluciones de IA para generar
            predicciones a partir de tus datos.
        </p>
        <p class="text-lg leading-relaxed">
            Trabajo con pasión, disciplina y una mentalidad de aprendizaje
            constante. Si buscas alguien comprometido que te ayude a resolver
            problemas tecnológicos reales, estás en el lugar correcto.
        </p>
    </div>
    <!-- Foto -->
    <div class="p-1 bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 rounded-xl shadow-xl hover:scale-105 transition-transform duration-300 max-w-xs opacity-0" data-animate>
        <img src="../../public/assets/imgs/profile.webp" alt="Foto de perfil" class="rounded-lg border-4 border-primary object-cover w-full h-auto"/>
    </div>
</section>