---
// Perfil.astro
import Education from './profile/Education.astro';
import Certifications from './profile/Certifications.astro';
import TechnicalSkills from './profile/TechnicalSkills.astro';
import InterestsSoftSkills from './profile/Interests&SoftSkills.astro';
import SkillsSets from './profile/SkillsSets.astro';
import Languages from './profile/Languages.astro';
---

<section id="perfil" class="w-full max-w-6xl px-6 bg-secondary/50 backdrop-blur-md p-6 rounded-lg shadow-lg text-textPrimary space-y-6 opacity-0" data-animate>
  <h2 class="text-2xl font-bold mb-4 border-b border-accent pb-2">
    Perfil Profesional
    <span class="text-sm text-textSecondary">(2018 - Actualidad)</span>
  </h2>
  <Education />
  <Certifications />
  <TechnicalSkills />
  <InterestsSoftSkills />
  <SkillsSets />
  <Languages />
</section>